<div class="container">
    
    <h2 class="text-center">Bullying is <u>never</u> okay. <br>If you're having trouble with a bully...tell Nelson! It's a safe space.</br></h2>

    <div class="text-center">
        <p>Click <a ui-sref="report">here</a> to file a report, if you or someone you know has been bullied. <br> Dont know if you've
            been bullied? Click <a ui-sref="resource"> here</a> to read more.</br>
        </p>
    </div>

    <img src="../imgs/kids.jpg" alt="children at school" id="kid-img">
</div>
