<div class="container">

<h1 class="text-center">Make an anonymous report by filling out the below:</h1>



    <div>
        <select class="form-group col-md-12 input-lg" name="text" title="teacher" ng-model="selectedTeacher">
            <option value="">Select your teacher</option>
            <option>teacher a</option>
            <option>teacher b</option>
            <option>teacher c</option>
            <option>teacher d</option>
            <option>teacher e</option>
    </select>
    </div>


<!-- <div class="container">
    <div class="form-group col-md-4 reg-sel">
        <select name="text" title="class" ng-model="selectedClass">
            <option value="">Select your class</option>
            <option>Algebra</option>
            <option>Life Science</option>
            <option>Geometry</option>
            <option>chem</option>
            <option>Lit</option>
    </select>
    </div>
</div> -->

<textarea class="form-control" name="report" id="report" cols="150" rows="20" placeholder="Tell us what happened... " ng-model="report"></textarea>

</div>