<div class="container">
    <div class="col-md-8">
        <h2 class="text-center">
            <u>What is bullying?</u>
        </h2>

        <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9n_ZQb0y5bk" allow="autoplay" allowfullscreen></iframe>
        </div>

    </div>

    <div class="col-md-4">
        <h2 class="text-center">
            <u>Resources</u>
        </h2>
        <div class="text-center">
            <ul style="list-style: none; line-height: 20px;" id="resource-list">
                <li><a target="_blank" href="https://www.stopbullying.gov/at-risk/warning-signs/index.html">Warning Signs for Bullying</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/at-risk/effects/index.html">Effects of Bullying</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/at-risk/index.html">Who Is at Risk</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/what-is-bullying/roles-kids-play/index.html">The Roles Kids Play in Bullying</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/cyberbullying/what-is-it/index.html">What Is Cyberbullying</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/cyberbullying/prevention/index.html">Prevent Cyberbullying</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/media/facts/index.html">Facts About Bullying</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/prevention/index.html">How to Prevent Bullying</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/kids/what-you-can-do/index.html">What You Can Do If You're Being Bullied</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/what-you-can-do/index.html#parents">What Parents Can Do</a></li>
                <li><a target="_blank" href="https://www.acacamps.org/resource-library/bullying-prevention-camps-take-stand">Bullying Prevention Camp</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/kids/what-you-can-do/index.html">Resources To Take To Your School</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/laws/index.html">Laws and Policies</a></li>
                <li><a target="_blank" href="https://www.stopbullying.gov/prevention/training-center/index.html">Bullying Prevention Training Centero</a>
                </li>
            </ul>
        </div>
    </div>
    
</div>
